*{
  padding: 0px;
  margin: 0px;
}
#header{
  height: 70px;
  background-color: white;
  box-shadow: 0px 5px 5px 0px rgba(222, 219, 219, 0.5);
}
.title{
  color: #108284;
  font-size: xxx-large;
  margin-bottom: 0px;
  letter-spacing: 0.1em;
}
.subtitle{
  font-size: xx-small;
  color: #5bd1d7;
  margin-bottom: 0px;
}
/* 三段目 */
.description h2{
  color: #108284;
}
.description-font-weight{
  font-weight: 100;
  color: #5bd1d7;
}
.description p{
  letter-spacing: 0.1em;
  color: rgb(118, 114, 114);
}

